In [1]:
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, concat_ws, collect_list, count, avg, upper, round, desc, asc, dense_rank, countDistinct, row_number
from pyspark.sql.window import Window
import os
from dotenv import load_dotenv, dotenv_values

In [3]:
# VARIABLES NEEDED TO MAKE CONNECTION AND TABLE NAMES

config = dotenv_values(".env")
database = config["DATABASE"]
user = config["USER"]
password = config["PASS"]
port = config["PORT"]
server = config["SERVER"]
jdbc_url = f"jdbc:sqlserver://{server}:{port};databaseName={database};encrypt=true;trustServerCertificate=true"
jdbc_driver_path = config["JDBC_DRIVER_PATH"]

album, artist, customer, employee, genre, invoice, invoice_line, media_type, playlist, playlist_track, track = "dbo.Album", "dbo.Artist",\
    "dbo.Customer", "dbo.Employee", "dbo.Genre",\
    "dbo.Invoice", "dbo.InvoiceLine", "dbo.MediaType",\
    "dbo.Playlist", "dbo.PlaylistTrack", "dbo.Track"

In [4]:
# CREATE SPARK SESSION 

spark = SparkSession.builder \
    .appName("PySpark using Chinook DB") \
    .master("local") \
    .config("spark.driver.extraClassPath", jdbc_driver_path) \
    .getOrCreate()

In [5]:
# CREATE DF FOR EACH TABLE USING JDBC

album_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", album).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

artist_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", artist).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

customer_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", customer).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

employee_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", employee).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

genre_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", genre).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

invoice_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", invoice).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

invoice_line_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", invoice_line).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

media_type_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", media_type).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

playlist_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", playlist).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

playlist_track_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", playlist_track).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

track_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", track).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

EASY

In [8]:
# 1. Retrieve the total sales (invoiced amount) for each customer.

q1_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.CustomerId") == col("i.CustomerId"), "inner")\
    .groupBy(col("c.CustomerId").alias("Customer"))\
    .agg(round(sum(col("i.Total")), 1).alias("Total_Sales"))\
    .show()

+--------+-----------+
|Customer|Total_Sales|
+--------+-----------+
|      31|       37.6|
|      53|       37.6|
|      34|       39.6|
|      28|       43.6|
|      27|       37.6|
|      26|       47.6|
|      44|       41.6|
|      12|       37.6|
|      22|       39.6|
|      47|       37.6|
|       1|       39.6|
|      52|       37.6|
|      13|       37.6|
|      16|       37.6|
|       6|       49.6|
|       3|       39.6|
|      40|       38.6|
|      20|       39.6|
|      57|       46.6|
|      54|       37.6|
+--------+-----------+
only showing top 20 rows

In [61]:
# 2. List all albums by a specific artist (e.g., “Queen”).

q2_df = artist_df.alias("ar").join(album_df.alias("al"), col("ar.ArtistId") == col("al.ArtistId"), "inner")\
    .groupBy(col("ar.ArtistId"), col("ar.Name"))\
    .agg(concat_ws(", ", collect_list(col("al.Title"))).alias("Albums"))\
    .show()

+--------+--------------------+--------------------+
|ArtistId|                Name|              Albums|
+--------+--------------------+--------------------+
|       1|               AC/DC|For Those About T...|
|       2|              Accept|Balls to the Wall...|
|       3|           Aerosmith|            Big Ones|
|       4|   Alanis Morissette|  Jagged Little Pill|
|       5|     Alice In Chains|            Facelift|
|       6|Antônio Carlos Jobim|Warner 25 Anos, C...|
|       7|        Apocalyptica|Plays Metallica B...|
|       8|          Audioslave|Audioslave, Out O...|
|       9|            BackBeat| BackBeat Soundtrack|
|      10|        Billy Cobham|The Best Of Billy...|
|      11| Black Label Society|Alcohol Fueled Br...|
|      12|       Black Sabbath|Black Sabbath, Bl...|
|      13|          Body Count|          Body Count|
|      14|     Bruce Dickinson|    Chemical Wedding|
|      15|           Buddy Guy|The Best Of Buddy...|
|      16|      Caetano Veloso|Prenda Minha, Soz...|
|      17|       Chico Buarque|      Minha Historia|
|      18|Chico Science & N...|Afrociberdelia, D...|
|      19|        Cidade Negra|Acústico MTV [Liv...|
|      20|        Cláudio Zoli|            Na Pista|
+--------+--------------------+--------------------+
only showing top 20 rows

In [65]:
# 3. Get a list of tracks from a specific genre (e.g., “Rock”).

q3_df = track_df.alias("t").join(genre_df.alias("g"), col("t.GenreId")==col("g.GenreId"), "inner")\
    .groupBy(col("g.name").alias("Genre")).agg(concat_ws("; ", collect_list(col("t.name"))).alias("Tracks"))\
    .show()

+-----------------+--------------------+
|            Genre|              Tracks|
+-----------------+--------------------+
|            World|Pura Elegancia; C...|
|      Hip Hop/Rap|ZeroVinteUm; Quei...|
|         TV Shows|Occupation / Prec...|
|       Bossa Nova|Samba Da Bênção; ...|
|            Latin|Jorge Da Capadóci...|
| Sci Fi & Fantasy|Crossroads, Pt. 1...|
|            Metal|Enter Sandman; Ma...|
|             Rock|For Those About T...|
|             Jazz|Desafinado; Garot...|
|         R&B/Soul|Please Please Ple...|
|            Drama|Don't Look Back; ...|
|       Soundtrack|Vai-Vai 2001; X-9...|
|Electronica/Dance|Just Another Stor...|
|        Classical|Symphony No. 3 in...|
|            Blues|First Time I Met ...|
|      Alternative|War Pigs; Say Hel...|
|    Rock And Roll|Money; Long Tall ...|
|  Science Fiction|Battlestar Galact...|
|              Pop|Dig-Dig, Lambe-La...|
|      Heavy Metal|Wildest Dreams; R...|
+-----------------+--------------------+
only showing top 20 rows

In [13]:
# 4. Find the total number of invoices for each customer.

q4_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .groupBy(col("c.customerid"), col("c.firstname"))\
    .agg(count(col("i.invoiceid")))\
    .show()

+----------+---------+------------------+
|customerid|firstname|count(i.invoiceid)|
+----------+---------+------------------+
|        31|   Martha|                 7|
|        53|     Phil|                 7|
|        34|     João|                 7|
|        28|    Julia|                 7|
|        26|  Richard|                 7|
|        27|  Patrick|                 7|
|        44|    Terhi|                 7|
|        12|  Roberto|                 7|
|        22|  Heather|                 7|
|        47|    Lucas|                 7|
|         1|     Luís|                 7|
|        52|     Emma|                 7|
|        13| Fernanda|                 7|
|         6|   Helena|                 7|
|        16|    Frank|                 7|
|         3| François|                 7|
|        20|      Dan|                 7|
|        40|Dominique|                 7|
|        57|     Luis|                 7|
|        54|    Steve|                 7|
+----------+---------+------------------+
only showing top 20 rows

In [12]:
# 5 .Display the average track length (milliseconds) for each album.

q5_df = album_df.alias("al").join(track_df.alias("t"),col("al.albumid") == col("t.albumid"),"inner")\
    .groupBy(col("al.albumid").alias("Album no."), col("al.title").alias("Album Name"))\
    .agg(round(avg(col("t.milliseconds")), 1).alias("Length"))\
    .show()

+---------+--------------------+---------+
|Album no.|          Album Name|   Length|
+---------+--------------------+---------+
|      148|         Black Album| 313268.7|
|      243|The Best Of Van H...| 255881.2|
|       31|          Bongo Fury| 273992.1|
|       85|As Canções de Eu ...| 206159.7|
|      137|The Song Remains ...| 588794.2|
|      251|The Office, Season 3|1532683.8|
|       65|        Stormbringer| 244119.7|
|       53|        Vozes do MPB| 204191.3|
|      255|Instant Karma: Th...| 223255.9|
|      133|     Led Zeppelin II| 277652.1|
|      296|A Copland Celebra...| 198064.0|
|       78|        Deixa Entrar| 203032.6|
|      322|               Frank| 275982.5|
|      321|       Back to Black| 212004.2|
|      108|   Rock In Rio [CD1]| 338658.8|
|      155|           St. Anger| 409732.5|
|       34|Chill: Brazil (Di...| 248321.1|
|      193|Blood Sugar Sex M...| 261004.3|
|      211|         The Singles| 214704.4|
|      101|             Killers| 232369.1|
+---------+--------------------+---------+
only showing top 20 rows

In [8]:
# 6. Retrieve all customers from the “USA” and their invoices.

q6_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .select(col("c.customerid"), col("c.firstname"), col("i.invoiceid"), col("i.billingcountry"))\
    .where(upper(col("i.billingcountry")) == "USA")\
    .show()

+----------+---------+---------+--------------+
|customerid|firstname|invoiceid|billingcountry|
+----------+---------+---------+--------------+
|        28|    Julia|       71|           USA|
|        28|    Julia|       82|           USA|
|        28|    Julia|      137|           USA|
|        28|    Julia|      266|           USA|
|        28|    Julia|      289|           USA|
|        28|    Julia|      311|           USA|
|        28|    Julia|      363|           USA|
|        27|  Patrick|       39|           USA|
|        26|  Richard|       70|           USA|
|        26|  Richard|       93|           USA|
|        26|  Richard|      115|           USA|
|        26|  Richard|      167|           USA|
|        27|  Patrick|      168|           USA|
|        27|  Patrick|      191|           USA|
|        27|  Patrick|      213|           USA|
|        27|  Patrick|      265|           USA|
|        26|  Richard|      288|           USA|
|        26|  Richard|      299|           USA|
|        26|  Richard|      354|           USA|
|        27|  Patrick|      386|           USA|
+----------+---------+---------+--------------+
only showing top 20 rows

In [14]:
# 7. Show the total number of tracks in each genre.

q7_df = genre_df.alias("g").join(track_df.alias("t"), col("g.genreid") == col("t.genreid"), "inner")\
    .groupBy(col("g.name").alias("Genre")) \
    .agg(count(col("t.trackid")).alias("no_of_tracks"))\
    .show()

+-----------------+------------+
|            Genre|no_of_tracks|
+-----------------+------------+
|            World|          28|
|      Hip Hop/Rap|          35|
|         TV Shows|          93|
|       Bossa Nova|          15|
|            Latin|         579|
| Sci Fi & Fantasy|          26|
|            Metal|         374|
|             Rock|        1297|
|             Jazz|         130|
|         R&B/Soul|          61|
|            Drama|          64|
|       Soundtrack|          43|
|Electronica/Dance|          30|
|        Classical|          74|
|            Blues|          81|
|      Alternative|          40|
|    Rock And Roll|          12|
|  Science Fiction|          13|
|              Pop|          48|
|      Heavy Metal|          28|
+-----------------+------------+
only showing top 20 rows

In [17]:
# 8. List all tracks for a specific album (e.g., "Abbey Road").

q8_df = album_df.alias("al").join(track_df.alias("t"), col("al.albumid") == col("t.albumid"), "inner")\
    .groupBy(col("al.title").alias("Album")) \
    .agg(concat_ws("; ", collect_list(col("t.name"))).alias("Tracks")) \
    .show()

+--------------------+--------------------+
|               Album|              Tracks|
+--------------------+--------------------+
|...And Justice Fo...|Blackened; ...And...|
|20th Century Mast...|Rock You Like a H...|
|A Copland Celebra...|Fanfare for the C...|
|A Matter of Life ...|Different World; ...|
|     A Real Dead One|The Number Of The...|
|     A Real Live One|Be Quick Or Be De...|
|  A Soprano Inspired|           Ave Maria|
|A TempestadeTempe...|Natália; L'Avvent...|
|             A-Sides|Nothing To Say; F...|
|       Ace Of Spades|Ace Of Spades; Lo...|
|        Achtung Baby|Zoo Station; Even...|
|            Acústico|Comida; Go Back; ...|
|        Acústico MTV|Vulcão Dub - Fui ...|
| Acústico MTV [Live]|Girassol; A Sombr...|
|Adams, John: The ...|Two Fanfares for ...|
|Adorate Deum: Gre...|Intoitus: Adorate...|
|      Afrociberdelia|Mateus Enter; O C...|
|   Album Of The Year|Collision; Strips...|
|Alcohol Fueled Br...|Intro/ Low Down; ...|
|Alcohol Fueled Br...|Heart Of Gold; Sn...|
+--------------------+--------------------+
only showing top 20 rows

In [44]:
# 9. Find customers who have not placed any invoices.

q9_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "leftanti").select(col("c.customerid")).show()

+----------+
|customerid|
+----------+
|        60|
+----------+

In [47]:
# 10. Retrieve the most popular genres by total number of tracks.

q10_df = genre_df.alias("g").join(track_df.alias("t"), col("g.genreid") == col("t.genreid"), "inner") \
    .groupBy(col("g.name").alias("Genre")) \
    .agg(count(col("t.trackid")).alias("Total_tracks"))\
    .orderBy(desc("Total_tracks"))\
    .show()

+------------------+------------+
|             Genre|Total_tracks|
+------------------+------------+
|              Rock|        1297|
|             Latin|         579|
|             Metal|         374|
|Alternative & Punk|         332|
|              Jazz|         130|
|          TV Shows|          93|
|             Blues|          81|
|         Classical|          74|
|             Drama|          64|
|          R&B/Soul|          61|
|            Reggae|          58|
|               Pop|          48|
|        Soundtrack|          43|
|       Alternative|          40|
|       Hip Hop/Rap|          35|
| Electronica/Dance|          30|
|             World|          28|
|       Heavy Metal|          28|
|  Sci Fi & Fantasy|          26|
|    Easy Listening|          24|
+------------------+------------+
only showing top 20 rows

MEDIUM

In [63]:
# 11. Find the top 5 customers who have spent the most on purchases.

q11_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .groupBy(col("c.customerid"))  \
    .agg(sum(col("i.total")).alias("Spend")) \
    .withColumn("rank", dense_rank().over(Window.orderBy(desc("Spend")))) \
    .where(col("rank")<=5) \
    .show()

+----------+-----+----+
|customerid|Spend|rank|
+----------+-----+----+
|         6|49.62|   1|
|        26|47.62|   2|
|        57|46.62|   3|
|        45|45.62|   4|
|        46|45.62|   4|
|        28|43.62|   5|
|        37|43.62|   5|
|        24|43.62|   5|
+----------+-----+----+

In [67]:
# 12. For each genre, calculate the total sales (invoice total) made from tracks in that genre.

q12_df = genre_df.alias("g")\
    .join(track_df.alias("t"), col("g.genreid") == col("t.genreid"), "inner")\
    .join(invoice_line_df.alias("il"), col("t.trackid") == col("il.trackid"), "inner")\
    .join(invoice_df.alias("i"), col("il.invoiceid") == col("i.invoiceid"), "inner")\
    .groupBy(col("g.genreid"), col("g.name").alias("Genre"))\
    .agg(sum(col("i.total")).alias("Sales By Genre"))\
    .show(100)

+-------+------------------+--------------+
|genreid|             Genre|Sales By Genre|
+-------+------------------+--------------+
|     18|   Science Fiction|        102.41|
|     15| Electronica/Dance|        149.62|
|     24|         Classical|        317.04|
|     17|       Hip Hop/Rap|        166.41|
|     11|        Bossa Nova|         86.13|
|     13|       Heavy Metal|        161.37|
|     21|             Drama|        544.61|
|     12|    Easy Listening|        138.60|
|     23|       Alternative|        211.17|
|     22|            Comedy|        112.30|
|     20|  Sci Fi & Fantasy|        198.87|
|     19|          TV Shows|        817.71|
|      8|            Reggae|        332.64|
|      2|              Jazz|        746.46|
|     10|        Soundtrack|        242.55|
|      3|             Metal|       2093.13|
|      5|     Rock And Roll|         83.16|
|     16|             World|        182.18|
|      4|Alternative & Punk|       1961.66|
|      1|              Rock|       7720.02|
|      7|             Latin|       3472.55|
|     14|          R&B/Soul|        338.62|
|      6|             Blues|        429.66|
|      9|               Pop|        239.75|
+-------+------------------+--------------+

In [69]:
# 13. Get the total number of tracks purchased by each customer.

q13_df = customer_df.alias("c")\
    .join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner") \
    .join(invoice_line_df.alias("il"), col("i.invoiceid") == col("il.invoiceid"), "inner") \
    .join(track_df.alias("t"), col("il.trackid") == col("t.trackid"), "inner") \
    .groupBy(col("c.customerid"), col("c.firstname"))\
    .agg(count(col("t.trackid")).alias("total_tracks"))\
    .show()

+----------+---------+------------+
|customerid|firstname|total_tracks|
+----------+---------+------------+
|        31|   Martha|          38|
|        53|     Phil|          38|
|        34|     João|          38|
|        28|    Julia|          38|
|        26|  Richard|          38|
|        27|  Patrick|          38|
|        44|    Terhi|          38|
|        12|  Roberto|          38|
|        22|  Heather|          38|
|        47|    Lucas|          38|
|         1|     Luís|          38|
|        52|     Emma|          38|
|        13| Fernanda|          38|
|         6|   Helena|          38|
|        16|    Frank|          38|
|         3| François|          38|
|        20|      Dan|          38|
|        40|Dominique|          38|
|        57|     Luis|          38|
|        54|    Steve|          38|
+----------+---------+------------+
only showing top 20 rows

In [72]:
# 14. Show the top 10 most purchased tracks across all invoices.

q14_df = invoice_df.alias("i")\
    .join(invoice_line_df.alias("il"), col("i.invoiceid") == col("il.invoiceid"), "inner")\
    .join(track_df.alias("t"), col("il.trackid") == col("t.trackid"), "inner")\
    .groupBy(col("t.trackid"))\
    .agg(count(col("i.invoiceid")).alias("total_tracks"))\
    .withColumn("rank", dense_rank().over(Window.orderBy(desc("total_tracks"))))\
    .where(col("rank") <= 10)\
    .show()

+-------+------------+----+
|trackid|total_tracks|rank|
+-------+------------+----+
|    496|           2|   1|
|    858|           2|   1|
|   3488|           2|   1|
|   2572|           2|   1|
|   1322|           2|   1|
|   1139|           2|   1|
|   2259|           2|   1|
|   2096|           2|   1|
|   2249|           2|   1|
|   2027|           2|   1|
|   1157|           2|   1|
|    472|           2|   1|
|   1888|           2|   1|
|   1808|           2|   1|
|    857|           2|   1|
|    976|           2|   1|
|   1331|           2|   1|
|    744|           2|   1|
|   1344|           2|   1|
|    211|           2|   1|
+-------+------------+----+
only showing top 20 rows

In [80]:
# 15. Calculate the average invoice total for each country.
"""
# Using Group By
q15_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .groupBy(col("c.country"))\
    .agg(avg(col("i.total")).alias("avg_invoice"))\
    .show()
"""
# Using window function

q15_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .withColumn("avg_sales", avg(col("i.total")).over(Window.partitionBy(col("c.country"))))\
    .select(col("c.country"), col("avg_sales")).distinct()\
    .show()

+--------------+---------+
|       country|avg_sales|
+--------------+---------+
|     Argentina| 5.374286|
|     Australia| 5.374286|
|       Austria| 6.088571|
|       Belgium| 5.374286|
|        Brazil| 5.431429|
|        Canada| 5.427857|
|         Chile| 6.660000|
|Czech Republic| 6.445714|
|       Denmark| 5.374286|
|       Finland| 5.945714|
|        France| 5.574286|
|       Germany| 5.588571|
|       Hungary| 6.517143|
|         India| 5.789231|
|       Ireland| 6.517143|
|         Italy| 5.374286|
|   Netherlands| 5.802857|
|        Norway| 5.660000|
|        Poland| 5.374286|
|      Portugal| 5.517143|
+--------------+---------+
only showing top 20 rows

In [88]:
# 16. List the customers who have bought tracks from more than one genre.

q16_df = customer_df.alias("c")\
    .join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner") \
    .join(invoice_line_df.alias("il"), col("i.invoiceid") == col("il.invoiceid"), "inner") \
    .join(track_df.alias("t"), col("il.trackid") == col("t.trackid"), "inner") \
    .join(genre_df.alias("g"), col("t.genreid") == col("g.genreid"), "inner") \
    .groupBy(col("c.customerid"), col("c.firstname"))\
    .agg(countDistinct("g.name").alias("total_genre"))\
    .filter(col("total_genre")>1)\
    .show()

+----------+---------+-----------+
|customerid|firstname|total_genre|
+----------+---------+-----------+
|        45| Ladislav|         11|
|        11|Alexandre|          6|
|         4|    Bjørn|          8|
|        23|     John|          9|
|        56|    Diego|          7|
|        36|   Hannah|          6|
|        33|    Ellie|          6|
|        34|     João|         10|
|        52|     Emma|          5|
|        51|   Joakim|          7|
|        37|     Fynn|         10|
|        25|   Victor|          8|
|        30|   Edward|          6|
|        38|   Niklas|          7|
|        57|     Luis|         12|
|        55|     Mark|          6|
|        53|     Phil|          6|
|        24|    Frank|         10|
|        35| Madalena|          6|
|        44|    Terhi|          7|
+----------+---------+-----------+
only showing top 20 rows

In [90]:
# 17. Find the artists whose tracks have generated the most revenue. (added by me: top 10 artists)

q17_df = artist_df.alias("ar")\
    .join(album_df.alias("al"), col("ar.artistid") == col("al.artistid"), "inner") \
    .join(track_df.alias("t"), col("al.albumid") == col("t.albumid"), "inner") \
    .join(invoice_line_df.alias("il"), col("t.trackid") == col("il.trackid"), "inner") \
    .join(invoice_df.alias("i"), col("il.invoiceid") == col("i.invoiceid"), "inner") \
    .groupBy(col("ar.artistid"), col("ar.name"))\
    .agg(sum(col("i.total")).alias("revenue"))\
    .withColumn("rank", dense_rank().over(Window.orderBy(desc("revenue"))))\
    .filter(col("rank") <= 10)\
    .show()

+--------+-------------+-------+----+
|artistid|         name|revenue|rank|
+--------+-------------+-------+----+
|      90|  Iron Maiden|1233.54|   1|
|     150|           U2| 895.59|   2|
|     149|         Lost| 833.70|   3|
|      22| Led Zeppelin| 620.73|   4|
|      50|    Metallica| 599.94|   5|
|      58|  Deep Purple| 550.44|   6|
|     118|    Pearl Jam| 408.87|   7|
|     100|Lenny Kravitz| 372.51|   8|
|     152|    Van Halen| 336.82|   9|
|     156|   The Office| 328.80|  10|
+--------+-------------+-------+----+

In [95]:
# 18. Display the number of invoices and total revenue generated by each employee (sales representative).

q18_df = employee_df.alias("e")\
    .join(customer_df.alias("c"), [col("e.reportsto") == col("c.supportrepid"), col("e.title") == "Sales Support Agent"], "inner")\
    .join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"))\
    .groupBy("e.employeeid")\
    .agg(countDistinct("i.invoiceid").alias("no_of_invoices"), sum(col("i.total")).alias("revenue")) \
    .show()

+----------+--------------+-------+
|employeeid|no_of_invoices|revenue|
+----------+--------------+-------+
|         9|           146| 833.04|
|        10|           126| 720.16|
+----------+--------------+-------+

In [107]:
# 19. For each customer, calculate the total amount spent on tracks from each genre.

q19_df = customer_df.alias("c")\
    .join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .join(invoice_line_df.alias("il"), col("i.invoiceid") == col("il.invoiceid"), "inner")\
    .join(track_df.alias("t"), col("il.trackid") == col("t.trackid"), "inner")\
    .join(genre_df.alias("g"), col("t.genreid") == col("g.genreid"), "inner")\
    .groupBy(col("c.customerid"), col("g.genreid"), col("g.name"))\
    .agg(sum(col("i.total")).alias("total_purchase"))\
    .orderBy("c.customerid")\
    .show()

"""
# Using window function

q19_window_df = customer_df.alias("c") \
    .join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner") \
    .join(invoice_line_df.alias("il"), col("i.invoiceid") == col("il.invoiceid"), "inner") \
    .join(track_df.alias("t"), col("il.trackid") == col("t.trackid"), "inner") \
    .join(genre_df.alias("g"), col("t.genreid") == col("g.genreid"), "inner") \
    .withColumn("total_purchase", sum("i.total").over(Window.partitionBy("c.customerid", "g.genreid").orderBy("c.customerid"))) \
    .select("c.customerid", "g.genreid", "g.name", "total_purchase") \
    .distinct() \
    .orderBy("c.customerid") \
    .show()
"""

+----------+-------+------------------+--------------+
|customerid|genreid|              name|total_purchase|
+----------+-------+------------------+--------------+
|         1|      3|             Metal|         17.82|
|         1|      1|              Rock|         89.10|
|         1|      7|             Latin|        122.76|
|         1|      8|            Reggae|         41.58|
|         1|      9|               Pop|         27.72|
|         1|     10|        Soundtrack|         27.72|
|         1|     20|  Sci Fi & Fantasy|          7.96|
|         1|     24|         Classical|          3.96|
|         2|      6|             Blues|         47.52|
|         2|      4|Alternative & Punk|         17.82|
|         2|      3|             Metal|         17.82|
|         2|      1|              Rock|        150.48|
|         2|      7|             Latin|         55.44|
|         2|      9|               Pop|         13.86|
|         2|     10|        Soundtrack|         31.68|
|         3|      2|              Jazz|         51.48|
|         3|      1|              Rock|         31.68|
|         3|      3|             Metal|        113.85|
|         3|      4|Alternative & Punk|         42.57|
|         3|      5|     Rock And Roll|         27.72|
+----------+-------+------------------+--------------+
only showing top 20 rows

In [111]:
# 20. Retrieve all albums with more than 10 tracks and list the number of tracks for each.

q20_df = album_df.alias("al")\
    .join(track_df.alias("t"), col("al.albumid") == col("t.albumid"), "inner")\
    .groupBy(col("al.albumid"), col("al.title"))\
    .agg(count(col("t.trackid")).alias("no_of_tracks"))\
    .orderBy(col("no_of_tracks"))\
    .filter(col("no_of_tracks")>=10)\
    .show()

+-------+--------------------+------------+
|albumid|               title|no_of_tracks|
+-------+--------------------+------------+
|    177|      The Beast Live|          10|
|    108|   Rock In Rio [CD1]|          10|
|    101|             Killers|          10|
|     28|            Na Pista|          10|
|    103|Live At Donington...|          10|
|    209|       Live [Disc 1]|          10|
|      1|For Those About T...|          10|
|    269|   Temple of the Dog|          10|
|    205|             In Step|          10|
|    191|        Cesta Básica|          10|
|    127|BBC Sessions [Dis...|          10|
|     17|Black Sabbath Vol...|          10|
|     49|The Essential Mil...|          10|
|     97|     Brave New World|          10|
|    239|                 War|          10|
|     80|In Your Honor [Di...|          10|
|    240|             Zooropa|          10|
|    121|Surfing with the ...|          10|
|    105|No Prayer For The...|          10|
|    150|        Kill 'Em All|          10|
+-------+--------------------+------------+
only showing top 20 rows

3 WINDOW FUNCTION QUESTIONS

In [12]:
# 1. Retrieve the top 3 most purchased tracks by each customer, based on the total number of times each track was purchased by that customer.

q1_windowdf = customer_df.alias("c")\
    .join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .join(invoice_line_df.alias("il"), col("i.invoiceid") == col("il.invoiceid"), "inner")\
    .join(track_df.alias("t"), col("il.trackid") == col("t.trackid"), "inner")\
    .groupBy(col("c.customerid"), col("t.name"), col("t.trackid"))\
    .agg(count("t.trackid").alias("track_purchases"))\
    .withColumn("rank", dense_rank().over(Window.partitionBy(col("c.customerid")).orderBy(col("track_purchases").desc())))\
    .where(col("rank") <= 3)\
    .show()

+----------+--------------------+-------+---------------+----+
|customerid|                name|trackid|track_purchases|rank|
+----------+--------------------+-------+---------------+----+
|         1|   Take the Celestra|   3248|              1|   1|
|         1| Experiment In Terra|   3247|              1|   1|
|         1|            Cold Gin|    453|              1|   1|
|         1|            Strutter|    451|              1|   1|
|         1|    Calling Dr. Love|    449|              1|   1|
|         1|   Shout It Out Loud|    447|              1|   1|
|         1|                Coma|   1173|              1|   1|
|         1|      Garden of Eden|   1169|              1|   1|
|         1|      Back off Bitch|   1165|              1|   1|
|         1|Don't Cry (Original)|   1161|              1|   1|
|         1|        Rocket Queen|   1157|              1|   1|
|         1|     Think About You|   1153|              1|   1|
|         1|All Along The Wat...|   2991|              1|   1|
|         1|Fantasia On Green...|   3438|              1|   1|
|         1|Karelia Suite, Op...|   3436|              1|   1|
|         1|       Água de Beber|    379|              1|   1|
|         1|       Ipiranga 2001|    370|              1|   1|
|         1|            X-9 2001|    361|              1|   1|
|         1|Carolina Hard-Cor...|    352|              1|   1|
|         1|Communication Bre...|    343|              1|   1|
+----------+--------------------+-------+---------------+----+
only showing top 20 rows

In [17]:
# 2. For each customer, display the running total (cumulative sum) of their invoice amounts, ordered by the invoice date. 
# Include columns for CustomerId, InvoiceId, InvoiceDate, and RunningTotal.

q2_windowdf = customer_df.alias("c")\
    .join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .withColumn("running_total", sum(col("i.total")).over(Window.partitionBy(col("c.customerid")).orderBy(col("i.invoicedate"))))\
    .select(col("c.customerid"), col("i.invoiceid"), col("i.invoicedate"), col("running_total"))\
    .show(1000)

+----------+---------+-------------------+-------------+
|customerid|invoiceid|        invoicedate|running_total|
+----------+---------+-------------------+-------------+
|         1|       98|2022-03-11 00:00:00|         3.98|
|         1|      121|2022-06-13 00:00:00|         7.94|
|         1|      143|2022-09-15 00:00:00|        13.88|
|         1|      195|2023-05-06 00:00:00|        14.87|
|         1|      316|2024-10-27 00:00:00|        16.85|
|         1|      327|2024-12-07 00:00:00|        30.71|
|         1|      382|2025-08-07 00:00:00|        39.62|
|         2|        1|2021-01-01 00:00:00|         1.98|
|         2|       12|2021-02-11 00:00:00|        15.84|
|         2|       67|2021-10-12 00:00:00|        24.75|
|         2|      196|2023-05-19 00:00:00|        26.73|
|         2|      219|2023-08-21 00:00:00|        30.69|
|         2|      241|2023-11-23 00:00:00|        36.63|
|         2|      293|2024-07-13 00:00:00|        37.62|
|         3|       99|2022-03-11 00:00:00|         3.98|
|         3|      110|2022-04-21 00:00:00|        17.84|
|         3|      165|2022-12-20 00:00:00|        26.75|
|         3|      294|2024-07-26 00:00:00|        28.73|
|         3|      317|2024-10-28 00:00:00|        32.69|
|         3|      339|2025-01-30 00:00:00|        38.63|
|         3|      391|2025-09-20 00:00:00|        39.62|
|         4|        2|2021-01-02 00:00:00|         3.96|
|         4|       24|2021-04-06 00:00:00|         9.90|
|         4|       76|2021-11-25 00:00:00|        10.89|
|         4|      197|2023-05-19 00:00:00|        12.87|
|         4|      208|2023-06-29 00:00:00|        28.73|
|         4|      263|2024-02-27 00:00:00|        37.64|
|         4|      392|2025-10-03 00:00:00|        39.62|
|         5|       77|2021-12-08 00:00:00|         1.98|
|         5|      100|2022-03-12 00:00:00|         5.94|
|         5|      122|2022-06-14 00:00:00|        11.88|
|         5|      174|2023-02-02 00:00:00|        12.87|
|         5|      295|2024-07-26 00:00:00|        14.85|
|         5|      306|2024-09-05 00:00:00|        31.71|
|         5|      361|2025-05-06 00:00:00|        40.62|
|         6|       46|2021-07-11 00:00:00|         8.91|
|         6|      175|2023-02-15 00:00:00|        10.89|
|         6|      198|2023-05-20 00:00:00|        14.85|
|         6|      220|2023-08-22 00:00:00|        20.79|
|         6|      272|2024-04-11 00:00:00|        21.78|
|         6|      393|2025-10-03 00:00:00|        23.76|
|         6|      404|2025-11-13 00:00:00|        49.62|
|         7|       78|2021-12-08 00:00:00|         1.98|
|         7|       89|2022-01-18 00:00:00|        20.84|
|         7|      144|2022-09-18 00:00:00|        29.75|
|         7|      273|2024-04-24 00:00:00|        31.73|
|         7|      296|2024-07-27 00:00:00|        35.69|
|         7|      318|2024-10-29 00:00:00|        41.63|
|         7|      370|2025-06-19 00:00:00|        42.62|
|         8|        3|2021-01-03 00:00:00|         5.94|
|         8|       55|2021-08-24 00:00:00|         6.93|
|         8|      176|2023-02-15 00:00:00|         8.91|
|         8|      187|2023-03-28 00:00:00|        22.77|
|         8|      242|2023-11-26 00:00:00|        31.68|
|         8|      371|2025-07-02 00:00:00|        33.66|
|         8|      394|2025-10-04 00:00:00|        37.62|
|         9|       56|2021-09-06 00:00:00|         1.98|
|         9|       79|2021-12-09 00:00:00|         5.94|
|         9|      101|2022-03-13 00:00:00|        11.88|
|         9|      153|2022-11-01 00:00:00|        12.87|
|         9|      274|2024-04-24 00:00:00|        14.85|
|         9|      285|2024-06-04 00:00:00|        28.71|
|         9|      340|2025-02-02 00:00:00|        37.62|
|        10|       25|2021-04-09 00:00:00|         8.91|
|        10|      154|2022-11-14 00:00:00|        10.89|
|        10|      177|2023-02-16 00:00:00|        14.85|
|        10|      199|2023-05-21 00:00:00|        20.79|
|        10|      251|2024-01-09 00:00:00|        21.78|
|        10|      372|2025-07-02 00:00:00|        23.76|
|        10|      383|2025-08-12 00:00:00|        37.62|
|        11|       57|2021-09-06 00:00:00|         1.98|
|        11|       68|2021-10-17 00:00:00|        15.84|
|        11|      123|2022-06-17 00:00:00|        24.75|
|        11|      252|2024-01-22 00:00:00|        26.73|
|        11|      275|2024-04-25 00:00:00|        30.69|
|        11|      297|2024-07-28 00:00:00|        36.63|
|        11|      349|2025-03-18 00:00:00|        37.62|
|        12|       34|2021-05-23 00:00:00|         0.99|
|        12|      155|2022-11-14 00:00:00|         2.97|
|        12|      166|2022-12-25 00:00:00|        16.83|
|        12|      221|2023-08-25 00:00:00|        25.74|
|        12|      350|2025-03-31 00:00:00|        27.72|
|        12|      373|2025-07-03 00:00:00|        31.68|
|        12|      395|2025-10-05 00:00:00|        37.62|
|        13|       35|2021-06-05 00:00:00|         1.98|
|        13|       58|2021-09-07 00:00:00|         5.94|
|        13|       80|2021-12-10 00:00:00|        11.88|
|        13|      132|2022-07-31 00:00:00|        12.87|
|        13|      253|2024-01-22 00:00:00|        14.85|
|        13|      264|2024-03-03 00:00:00|        28.71|
|        13|      319|2024-11-01 00:00:00|        37.62|
|        14|        4|2021-01-06 00:00:00|         8.91|
|        14|      133|2022-08-13 00:00:00|        10.89|
|        14|      156|2022-11-15 00:00:00|        14.85|
|        14|      178|2023-02-17 00:00:00|        20.79|
|        14|      230|2023-10-08 00:00:00|        21.78|
|        14|      351|2025-03-31 00:00:00|        23.76|
|        14|      362|2025-05-11 00:00:00|        37.62|
|        15|       36|2021-06-05 00:00:00|         1.98|
|        15|       47|2021-07-16 00:00:00|        15.84|
|        15|      102|2022-03-16 00:00:00|        25.75|
|        15|      231|2023-10-21 00:00:00|        27.73|
|        15|      254|2024-01-23 00:00:00|        31.69|
|        15|      276|2024-04-26 00:00:00|        37.63|
|        15|      328|2024-12-15 00:00:00|        38.62|
|        16|       13|2021-02-19 00:00:00|         0.99|
|        16|      134|2022-08-13 00:00:00|         2.97|
|        16|      145|2022-09-23 00:00:00|        16.83|
|        16|      200|2023-05-24 00:00:00|        25.74|
|        16|      329|2024-12-28 00:00:00|        27.72|
|        16|      352|2025-04-01 00:00:00|        31.68|
|        16|      374|2025-07-04 00:00:00|        37.62|
|        17|       14|2021-03-04 00:00:00|         1.98|
|        17|       37|2021-06-06 00:00:00|         5.94|
|        17|       59|2021-09-08 00:00:00|        11.88|
|        17|      111|2022-04-29 00:00:00|        12.87|
|        17|      232|2023-10-21 00:00:00|        14.85|
|        17|      243|2023-12-01 00:00:00|        28.71|
|        17|      298|2024-07-31 00:00:00|        39.62|
|        18|      112|2022-05-12 00:00:00|         1.98|
|        18|      135|2022-08-14 00:00:00|         5.94|
|        18|      157|2022-11-16 00:00:00|        11.88|
|        18|      209|2023-07-07 00:00:00|        12.87|
|        18|      330|2024-12-28 00:00:00|        14.85|
|        18|      341|2025-02-07 00:00:00|        28.71|
|        18|      396|2025-10-08 00:00:00|        37.62|
|        19|       15|2021-03-04 00:00:00|         1.98|
|        19|       26|2021-04-14 00:00:00|        15.84|
|        19|       81|2021-12-13 00:00:00|        24.75|
|        19|      210|2023-07-20 00:00:00|        26.73|
|        19|      233|2023-10-22 00:00:00|        30.69|
|        19|      255|2024-01-24 00:00:00|        36.63|
|        19|      307|2024-09-13 00:00:00|        38.62|
|        20|      113|2022-05-12 00:00:00|         1.98|
|        20|      124|2022-06-22 00:00:00|        15.84|
|        20|      179|2023-02-20 00:00:00|        24.75|
|        20|      308|2024-09-26 00:00:00|        28.73|
|        20|      331|2024-12-29 00:00:00|        32.69|
|        20|      353|2025-04-02 00:00:00|        38.63|
|        20|      405|2025-11-21 00:00:00|        39.62|
|        21|       16|2021-03-05 00:00:00|         3.96|
|        21|       38|2021-06-07 00:00:00|         9.90|
|        21|       90|2022-01-26 00:00:00|        10.89|
|        21|      211|2023-07-20 00:00:00|        12.87|
|        21|      222|2023-08-30 00:00:00|        26.73|
|        21|      277|2024-04-29 00:00:00|        35.64|
|        21|      406|2025-12-04 00:00:00|        37.62|
|        22|       91|2022-02-08 00:00:00|         1.98|
|        22|      114|2022-05-13 00:00:00|         5.94|
|        22|      136|2022-08-15 00:00:00|        11.88|
|        22|      188|2023-04-05 00:00:00|        12.87|
|        22|      309|2024-09-26 00:00:00|        16.85|
|        22|      320|2024-11-06 00:00:00|        30.71|
|        22|      375|2025-07-07 00:00:00|        39.62|
|        23|        5|2021-01-11 00:00:00|        13.86|
|        23|       60|2021-09-11 00:00:00|        22.77|
|        23|      189|2023-04-18 00:00:00|        24.75|
|        23|      212|2023-07-21 00:00:00|        28.71|
|        23|      234|2023-10-23 00:00:00|        34.65|
|        23|      286|2024-06-12 00:00:00|        35.64|
|        23|      407|2025-12-04 00:00:00|        37.62|
|        24|       92|2022-02-08 00:00:00|         1.98|
|        24|      103|2022-03-21 00:00:00|        17.84|
|        24|      158|2022-11-19 00:00:00|        26.75|
|        24|      287|2024-06-25 00:00:00|        28.73|
|        24|      310|2024-09-27 00:00:00|        36.69|
|        24|      332|2024-12-30 00:00:00|        42.63|
|        24|      384|2025-08-20 00:00:00|        43.62|
|        25|       17|2021-03-06 00:00:00|         5.94|
|        25|       69|2021-10-25 00:00:00|         6.93|
|        25|      190|2023-04-18 00:00:00|         8.91|
|        25|      201|2023-05-29 00:00:00|        27.77|
|        25|      256|2024-01-27 00:00:00|        36.68|
|        25|      385|2025-09-02 00:00:00|        38.66|
|        25|      408|2025-12-05 00:00:00|        42.62|
|        26|       70|2021-11-07 00:00:00|         1.98|
|        26|       93|2022-02-09 00:00:00|         5.94|
|        26|      115|2022-05-14 00:00:00|        11.88|
|        26|      167|2023-01-02 00:00:00|        12.87|
|        26|      288|2024-06-25 00:00:00|        14.85|
|        26|      299|2024-08-05 00:00:00|        38.71|
|        26|      354|2025-04-05 00:00:00|        47.62|
|        27|       39|2021-06-10 00:00:00|         8.91|
|        27|      168|2023-01-15 00:00:00|        10.89|
|        27|      191|2023-04-19 00:00:00|        14.85|
|        27|      213|2023-07-22 00:00:00|        20.79|
|        27|      265|2024-03-11 00:00:00|        21.78|
|        27|      386|2025-09-02 00:00:00|        23.76|
|        27|      397|2025-10-13 00:00:00|        37.62|
|        28|       71|2021-11-07 00:00:00|         1.98|
|        28|       82|2021-12-18 00:00:00|        15.84|
|        28|      137|2022-08-18 00:00:00|        24.75|
|        28|      266|2024-03-24 00:00:00|        26.73|
|        28|      289|2024-06-26 00:00:00|        30.69|
|        28|      311|2024-09-28 00:00:00|        42.63|
|        28|      363|2025-05-19 00:00:00|        43.62|
|        29|       48|2021-07-24 00:00:00|         0.99|
|        29|      169|2023-01-15 00:00:00|         2.97|
|        29|      180|2023-02-25 00:00:00|        16.83|
|        29|      235|2023-10-26 00:00:00|        25.74|
|        29|      364|2025-06-01 00:00:00|        27.72|
|        29|      387|2025-09-03 00:00:00|        31.68|
|        29|      409|2025-12-06 00:00:00|        37.62|
|        30|       49|2021-08-06 00:00:00|         1.98|
|        30|       72|2021-11-08 00:00:00|         5.94|
|        30|       94|2022-02-10 00:00:00|        11.88|
|        30|      146|2022-10-01 00:00:00|        12.87|
|        30|      267|2024-03-24 00:00:00|        14.85|
|        30|      278|2024-05-04 00:00:00|        28.71|
|        30|      333|2025-01-02 00:00:00|        37.62|
|        31|       18|2021-03-09 00:00:00|         8.91|
|        31|      147|2022-10-14 00:00:00|        10.89|
|        31|      170|2023-01-16 00:00:00|        14.85|
|        31|      192|2023-04-20 00:00:00|        20.79|
|        31|      244|2023-12-09 00:00:00|        21.78|
|        31|      365|2025-06-01 00:00:00|        23.76|
|        31|      376|2025-07-12 00:00:00|        37.62|
|        32|       50|2021-08-06 00:00:00|         1.98|
|        32|       61|2021-09-16 00:00:00|        15.84|
|        32|      116|2022-05-17 00:00:00|        24.75|
|        32|      245|2023-12-22 00:00:00|        26.73|
|        32|      268|2024-03-25 00:00:00|        30.69|
|        32|      290|2024-06-27 00:00:00|        36.63|
|        32|      342|2025-02-15 00:00:00|        37.62|
|        33|       27|2021-04-22 00:00:00|         0.99|
|        33|      148|2022-10-14 00:00:00|         2.97|
|        33|      159|2022-11-24 00:00:00|        16.83|
|        33|      214|2023-07-25 00:00:00|        25.74|
|        33|      343|2025-02-28 00:00:00|        27.72|
|        33|      366|2025-06-02 00:00:00|        31.68|
|        33|      388|2025-09-04 00:00:00|        37.62|
|        34|       28|2021-05-05 00:00:00|         1.98|
|        34|       51|2021-08-07 00:00:00|         5.94|
|        34|       73|2021-11-09 00:00:00|        11.88|
|        34|      125|2022-06-30 00:00:00|        12.87|
|        34|      246|2023-12-22 00:00:00|        14.85|
|        34|      257|2024-02-01 00:00:00|        28.71|
|        34|      312|2024-10-01 00:00:00|        39.62|
|        35|      126|2022-07-13 00:00:00|         1.98|
|        35|      149|2022-10-15 00:00:00|         5.94|
|        35|      171|2023-01-17 00:00:00|        11.88|
|        35|      223|2023-09-07 00:00:00|        12.87|
|        35|      344|2025-02-28 00:00:00|        14.85|
|        35|      355|2025-04-10 00:00:00|        28.71|
|        35|      410|2025-12-09 00:00:00|        37.62|
|        36|       29|2021-05-05 00:00:00|         1.98|
|        36|       40|2021-06-15 00:00:00|        15.84|
|        36|       95|2022-02-13 00:00:00|        24.75|
|        36|      224|2023-09-20 00:00:00|        26.73|
|        36|      247|2023-12-23 00:00:00|        30.69|
|        36|      269|2024-03-26 00:00:00|        36.63|
|        36|      321|2024-11-14 00:00:00|        37.62|
|        37|        6|2021-01-19 00:00:00|         0.99|
|        37|      127|2022-07-13 00:00:00|         2.97|
|        37|      138|2022-08-23 00:00:00|        16.83|
|        37|      193|2023-04-23 00:00:00|        31.74|
|        37|      322|2024-11-27 00:00:00|        33.72|
|        37|      345|2025-03-01 00:00:00|        37.68|
|        37|      367|2025-06-03 00:00:00|        43.62|
|        38|        7|2021-02-01 00:00:00|         1.98|
|        38|       30|2021-05-06 00:00:00|         5.94|
|        38|       52|2021-08-08 00:00:00|        11.88|
|        38|      104|2022-03-29 00:00:00|        12.87|
|        38|      225|2023-09-20 00:00:00|        14.85|
|        38|      236|2023-10-31 00:00:00|        28.71|
|        38|      291|2024-06-30 00:00:00|        37.62|
|        39|      105|2022-04-11 00:00:00|         1.98|
|        39|      128|2022-07-14 00:00:00|         5.94|
|        39|      150|2022-10-16 00:00:00|        11.88|
|        39|      202|2023-06-06 00:00:00|        13.87|
|        39|      323|2024-11-27 00:00:00|        15.85|
|        39|      334|2025-01-07 00:00:00|        29.71|
|        39|      389|2025-09-07 00:00:00|        38.62|
|        40|        8|2021-02-01 00:00:00|         1.98|
|        40|       19|2021-03-14 00:00:00|        15.84|
|        40|       74|2021-11-12 00:00:00|        24.75|
|        40|      203|2023-06-19 00:00:00|        27.73|
|        40|      226|2023-09-21 00:00:00|        31.69|
|        40|      248|2023-12-24 00:00:00|        37.63|
|        40|      300|2024-08-13 00:00:00|        38.62|
|        41|      106|2022-04-11 00:00:00|         1.98|
|        41|      117|2022-05-22 00:00:00|        15.84|
|        41|      172|2023-01-20 00:00:00|        24.75|
|        41|      301|2024-08-26 00:00:00|        26.73|
|        41|      324|2024-11-28 00:00:00|        30.69|
|        41|      346|2025-03-02 00:00:00|        36.63|
|        41|      398|2025-10-21 00:00:00|        37.62|
|        42|        9|2021-02-02 00:00:00|         3.96|
|        42|       31|2021-05-07 00:00:00|         9.90|
|        42|       83|2021-12-26 00:00:00|        10.89|
|        42|      204|2023-06-19 00:00:00|        14.87|
|        42|      215|2023-07-30 00:00:00|        28.73|
|        42|      270|2024-03-29 00:00:00|        37.64|
|        42|      399|2025-11-03 00:00:00|        39.62|
|        43|       84|2022-01-08 00:00:00|         1.98|
|        43|      107|2022-04-12 00:00:00|         5.94|
|        43|      129|2022-07-15 00:00:00|        11.88|
|        43|      181|2023-03-05 00:00:00|        12.87|
|        43|      302|2024-08-26 00:00:00|        14.85|
|        43|      313|2024-10-06 00:00:00|        31.71|
|        43|      368|2025-06-06 00:00:00|        40.62|
|        44|       53|2021-08-11 00:00:00|         8.91|
|        44|      182|2023-03-18 00:00:00|        10.89|
|        44|      205|2023-06-20 00:00:00|        18.85|
|        44|      227|2023-09-22 00:00:00|        24.79|
|        44|      279|2024-05-12 00:00:00|        25.78|
|        44|      400|2025-11-03 00:00:00|        27.76|
|        44|      411|2025-12-14 00:00:00|        41.62|
|        45|       85|2022-01-08 00:00:00|         1.98|
|        45|       96|2022-02-18 00:00:00|        23.84|
|        45|      151|2022-10-19 00:00:00|        32.75|
|        45|      280|2024-05-25 00:00:00|        34.73|
|        45|      303|2024-08-27 00:00:00|        38.69|
|        45|      325|2024-11-29 00:00:00|        44.63|
|        45|      377|2025-07-20 00:00:00|        45.62|
|        46|       10|2021-02-03 00:00:00|         5.94|
|        46|       62|2021-09-24 00:00:00|         6.93|
|        46|      183|2023-03-18 00:00:00|         8.91|
|        46|      194|2023-04-28 00:00:00|        30.77|
|        46|      249|2023-12-27 00:00:00|        39.68|
|        46|      378|2025-08-02 00:00:00|        41.66|
|        46|      401|2025-11-04 00:00:00|        45.62|
|        47|       63|2021-10-07 00:00:00|         1.98|
|        47|       86|2022-01-09 00:00:00|         5.94|
|        47|      108|2022-04-13 00:00:00|        11.88|
|        47|      160|2022-12-02 00:00:00|        12.87|
|        47|      281|2024-05-25 00:00:00|        14.85|
|        47|      292|2024-07-05 00:00:00|        28.71|
|        47|      347|2025-03-05 00:00:00|        37.62|
|        48|       32|2021-05-10 00:00:00|         8.91|
|        48|      161|2022-12-15 00:00:00|        10.89|
|        48|      184|2023-03-19 00:00:00|        14.85|
|        48|      206|2023-06-21 00:00:00|        23.79|
|        48|      258|2024-02-09 00:00:00|        24.78|
|        48|      379|2025-08-02 00:00:00|        26.76|
|        48|      390|2025-09-12 00:00:00|        40.62|
|        49|       64|2021-10-07 00:00:00|         1.98|
|        49|       75|2021-11-17 00:00:00|        15.84|
|        49|      130|2022-07-18 00:00:00|        24.75|
|        49|      259|2024-02-22 00:00:00|        26.73|
|        49|      282|2024-05-26 00:00:00|        30.69|
|        49|      304|2024-08-28 00:00:00|        36.63|
|        49|      356|2025-04-18 00:00:00|        37.62|
|        50|       41|2021-06-23 00:00:00|         0.99|
|        50|      162|2022-12-15 00:00:00|         2.97|
|        50|      173|2023-01-25 00:00:00|        16.83|
|        50|      228|2023-09-25 00:00:00|        25.74|

In [28]:
# 3.Rank the artists based on the total number of tracks purchased from them, 
# but also include a column showing the ranking at each invoice date for each artist, so the rank updates as more purchases are made.

q3_windowdf = artist_df.alias("ar")\
    .join(album_df.alias("al"), col("ar.artistid") == col("al.artistid"), "inner")\
    .join(track_df.alias("t"), col("al.albumid") == col("t.albumid"), "inner")\
    .join(invoice_line_df.alias("il"), col("t.trackid") == col("il.trackid"), "inner")\
    .join(invoice_df.alias("i"), col("il.invoiceid") == col("i.invoiceid"), "inner")\
    .groupBy(col("ar.artistid"), col("ar.name"), col("i.invoicedate"))\
    .agg(count("t.trackid").alias("track_count"))\
    .withColumn("track_sum", sum(col("track_count")).over(Window.partitionBy(col("ar.artistid")).orderBy(col("i.invoicedate"))))\
    .withColumn("rank", dense_rank().over(Window.orderBy(col("track_sum").desc())))\
    .show()\

+--------+------------+-------------------+-----------+---------+----+
|artistid|        name|        invoicedate|track_count|track_sum|rank|
+--------+------------+-------------------+-----------+---------+----+
|      90| Iron Maiden|2025-05-06 00:00:00|          9|      140|   1|
|      90| Iron Maiden|2025-05-03 00:00:00|          6|      131|   2|
|      90| Iron Maiden|2025-05-02 00:00:00|          4|      125|   3|
|      90| Iron Maiden|2025-05-01 00:00:00|          4|      121|   4|
|      90| Iron Maiden|2025-04-18 00:00:00|          1|      117|   5|
|      90| Iron Maiden|2025-04-10 00:00:00|         12|      116|   6|
|     150|          U2|2025-12-09 00:00:00|          9|      107|   7|
|      90| Iron Maiden|2024-01-27 00:00:00|          5|      104|   8|
|      90| Iron Maiden|2024-01-24 00:00:00|          6|       99|   9|
|     150|          U2|2025-12-06 00:00:00|          6|       98|  10|
|      90| Iron Maiden|2024-01-23 00:00:00|          4|       93|  11|
|     150|          U2|2025-12-05 00:00:00|          4|       92|  12|
|      50|   Metallica|2025-07-12 00:00:00|          2|       91|  13|
|      50|   Metallica|2025-07-07 00:00:00|          9|       89|  14|
|      90| Iron Maiden|2024-01-22 00:00:00|          4|       89|  14|
|     150|          U2|2025-12-04 00:00:00|          4|       88|  15|
|      22|Led Zeppelin|2025-06-11 00:00:00|          2|       87|  16|
|      22|Led Zeppelin|2025-06-06 00:00:00|          9|       85|  17|
|      90| Iron Maiden|2024-01-09 00:00:00|          1|       85|  17|
|      90| Iron Maiden|2024-01-01 00:00:00|         14|       84|  18|
+--------+------------+-------------------+-----------+---------+----+
only showing top 20 rows

In [31]:
# 4. For each customer, calculate the cumulative total of tracks they have purchased, 
# ranked by the total number of tracks purchased up to each invoice date. Display the 
# running total for each customer along with their ranking across all customers.

q4_windowdf = customer_df.alias("c")\
    .join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .join(invoice_line_df.alias("il"), col("i.invoiceid") == col("il.invoiceid"), "inner")\
    .join(track_df.alias("t"), col("il.trackid") == col("t.trackid"), "inner")\
    .groupBy(col("c.customerid"), col("i.invoicedate"), col("i.total"))\
    .agg(count("t.trackid").alias("track_count"))\
    .withColumn("cumulative_sum", sum(col("track_count")).over(Window.partitionBy("c.customerid"))) \
    .withColumn("track_purchase_rank", dense_rank().over(Window.partitionBy("i.invoicedate").orderBy("track_count")))\
    .withColumn("running_total", sum(col("i.total")).over(Window.partitionBy(col("c.customerid"))))\
    .withColumn("running_total_rank", dense_rank().over(Window.orderBy(col("running_total"))))

In [32]:
q4_windowdf.printSchema()

root
 |-- customerid: integer (nullable = true)
 |-- invoicedate: timestamp (nullable = true)
 |-- total: decimal(10,2) (nullable = true)
 |-- track_count: long (nullable = false)
 |-- cumulative_sum: long (nullable = true)
 |-- track_purchase_rank: integer (nullable = false)
 |-- running_total: decimal(20,2) (nullable = true)
 |-- running_total_rank: integer (nullable = false)

In [5]:
#spark.stop()