In [22]:
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql.functions import col, sum, concat_ws, collect_list, count, avg, upper
import os
from dotenv import load_dotenv, dotenv_values

In [2]:
# CREATE SPARK SESSION (DEPRECATED BUT WORKING)

appName = "PySpark SQL Server Example - via JDBC"
master = "local"
conf = SparkConf().setAppName(appName).setMaster(master).set("spark.driver.extraClassPath", "C:/spark/sqljdbc_12.8/enu/jars/mssql-jdbc-12.8.1.jre11.jar")
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)
spark = sqlContext.sparkSession

c:\Users\sudip\anaconda3\envs\suddata\Lib\site-packages\pyspark\sql\context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [6]:
# VARIABLES NEEDED TO MAKE CONNECTION AND TABLE NAMES

config = dotenv_values(".env")
database = config["DATABASE"]
user = config["USER"]
password = config["PASS"]
port = config["PORT"]
server = config["SERVER"]
jdbc_url = f"jdbc:sqlserver://{server}:{port};databaseName={database};encrypt=true;trustServerCertificate=true"

album, artist, customer, employee, genre, invoice, invoice_line, media_type, playlist, playlist_track, track = "dbo.Album", "dbo.Artist",\
    "dbo.Customer", "dbo.Employee", "dbo.Genre",\
    "dbo.Invoice", "dbo.InvoiceLine", "dbo.MediaType",\
    "dbo.Playlist", "dbo.PlaylistTrack", "dbo.Track"

In [8]:
# CREATE DF FOR EACH TABLE USING JDBC

album_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", album).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

artist_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", artist).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

customer_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", customer).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

employee_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", employee).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

genre_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", genre).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

invoice_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", invoice).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

invoice_line_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", invoice_line).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

media_type_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", media_type).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

playlist_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", playlist).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

playlist_track_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", playlist_track).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

track_df = spark.read.format("jdbc").option("url", jdbc_url).option("dbtable", track).option("user", user)\
    .option("password", password).option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver").load()

EASY

In [9]:
# 1. Retrieve the total sales (invoiced amount) for each customer.

q1_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.CustomerId") == col("i.CustomerId"), "inner")\
    .groupBy(col("c.CustomerId").alias("Customer"))\
    .agg(sum(col("i.Total")).alias("Total_Sales"))\
    .show()

+--------+-----------+
|Customer|Total_Sales|
+--------+-----------+
|      31|      37.62|
|      53|      37.62|
|      34|      39.62|
|      28|      43.62|
|      27|      37.62|
|      26|      47.62|
|      44|      41.62|
|      12|      37.62|
|      22|      39.62|
|      47|      37.62|
|       1|      39.62|
|      52|      37.62|
|      13|      37.62|
|      16|      37.62|
|       6|      49.62|
|       3|      39.62|
|      40|      38.62|
|      20|      39.62|
|      57|      46.62|
|      54|      37.62|
+--------+-----------+
only showing top 20 rows

In [61]:
# 2. List all albums by a specific artist (e.g., “Queen”).

q2_df = artist_df.alias("ar").join(album_df.alias("al"), col("ar.ArtistId") == col("al.ArtistId"), "inner")\
    .groupBy(col("ar.ArtistId"), col("ar.Name"))\
    .agg(concat_ws(", ", collect_list(col("al.Title"))).alias("Albums"))\
    .show()

+--------+--------------------+--------------------+
|ArtistId|                Name|              Albums|
+--------+--------------------+--------------------+
|       1|               AC/DC|For Those About T...|
|       2|              Accept|Balls to the Wall...|
|       3|           Aerosmith|            Big Ones|
|       4|   Alanis Morissette|  Jagged Little Pill|
|       5|     Alice In Chains|            Facelift|
|       6|Antônio Carlos Jobim|Warner 25 Anos, C...|
|       7|        Apocalyptica|Plays Metallica B...|
|       8|          Audioslave|Audioslave, Out O...|
|       9|            BackBeat| BackBeat Soundtrack|
|      10|        Billy Cobham|The Best Of Billy...|
|      11| Black Label Society|Alcohol Fueled Br...|
|      12|       Black Sabbath|Black Sabbath, Bl...|
|      13|          Body Count|          Body Count|
|      14|     Bruce Dickinson|    Chemical Wedding|
|      15|           Buddy Guy|The Best Of Buddy...|
|      16|      Caetano Veloso|Prenda Minha, Soz...|
|      17|       Chico Buarque|      Minha Historia|
|      18|Chico Science & N...|Afrociberdelia, D...|
|      19|        Cidade Negra|Acústico MTV [Liv...|
|      20|        Cláudio Zoli|            Na Pista|
+--------+--------------------+--------------------+
only showing top 20 rows

In [65]:
# 3. Get a list of tracks from a specific genre (e.g., “Rock”).

q3_df = track_df.alias("t").join(genre_df.alias("g"), col("t.GenreId")==col("g.GenreId"), "inner")\
    .groupBy(col("g.name").alias("Genre")).agg(concat_ws("; ", collect_list(col("t.name"))).alias("Tracks"))\
    .show()

+-----------------+--------------------+
|            Genre|              Tracks|
+-----------------+--------------------+
|            World|Pura Elegancia; C...|
|      Hip Hop/Rap|ZeroVinteUm; Quei...|
|         TV Shows|Occupation / Prec...|
|       Bossa Nova|Samba Da Bênção; ...|
|            Latin|Jorge Da Capadóci...|
| Sci Fi & Fantasy|Crossroads, Pt. 1...|
|            Metal|Enter Sandman; Ma...|
|             Rock|For Those About T...|
|             Jazz|Desafinado; Garot...|
|         R&B/Soul|Please Please Ple...|
|            Drama|Don't Look Back; ...|
|       Soundtrack|Vai-Vai 2001; X-9...|
|Electronica/Dance|Just Another Stor...|
|        Classical|Symphony No. 3 in...|
|            Blues|First Time I Met ...|
|      Alternative|War Pigs; Say Hel...|
|    Rock And Roll|Money; Long Tall ...|
|  Science Fiction|Battlestar Galact...|
|              Pop|Dig-Dig, Lambe-La...|
|      Heavy Metal|Wildest Dreams; R...|
+-----------------+--------------------+
only showing top 20 rows

In [13]:
# 4. Find the total number of invoices for each customer.

q4_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .groupBy(col("c.customerid"), col("c.firstname"))\
    .agg(count(col("i.invoiceid")))\
    .show()

+----------+---------+------------------+
|customerid|firstname|count(i.invoiceid)|
+----------+---------+------------------+
|        31|   Martha|                 7|
|        53|     Phil|                 7|
|        34|     João|                 7|
|        28|    Julia|                 7|
|        26|  Richard|                 7|
|        27|  Patrick|                 7|
|        44|    Terhi|                 7|
|        12|  Roberto|                 7|
|        22|  Heather|                 7|
|        47|    Lucas|                 7|
|         1|     Luís|                 7|
|        52|     Emma|                 7|
|        13| Fernanda|                 7|
|         6|   Helena|                 7|
|        16|    Frank|                 7|
|         3| François|                 7|
|        20|      Dan|                 7|
|        40|Dominique|                 7|
|        57|     Luis|                 7|
|        54|    Steve|                 7|
+----------+---------+------------------+
only showing top 20 rows

In [17]:
# 5 .Display the average track length (milliseconds) for each album.

q5_df = album_df.alias("al").join(track_df.alias("t"),col("al.albumid") == col("t.albumid"),"inner")\
    .groupBy(col("al.albumid").alias("Album no."), col("al.title").alias("Album Name"))\
    .agg(avg(col("t.milliseconds")).alias("Length"))\
    .show()

+---------+--------------------+------------------+
|Album no.|          Album Name|            Length|
+---------+--------------------+------------------+
|      148|         Black Album| 313268.6666666667|
|      243|The Best Of Van H...|255881.17647058822|
|       31|          Bongo Fury| 273992.1111111111|
|       85|As Canções de Eu ...| 206159.7142857143|
|      137|The Song Remains ...|          588794.2|
|      251|The Office, Season 3|         1532683.8|
|       65|        Stormbringer|244119.66666666666|
|       53|        Vozes do MPB| 204191.2857142857|
|      255|Instant Karma: Th...|223255.91304347827|
|      133|     Led Zeppelin II| 277652.1111111111|
|      296|A Copland Celebra...|          198064.0|
|       78|        Deixa Entrar|203032.57142857142|
|      322|               Frank|275982.45454545453|
|      321|       Back to Black|212004.16666666666|
|      108|   Rock In Rio [CD1]|          338658.8|
|      155|           St. Anger|409732.45454545453|
|       34|Chill: Brazil (Di...|248321.11764705883|
|      193|Blood Sugar Sex M...|261004.29411764705|
|      211|         The Singles|214704.38888888888|
|      101|             Killers|          232369.1|
+---------+--------------------+------------------+
only showing top 20 rows

In [24]:
# 6. Retrieve all customers from the “USA” and their invoices.

q6_df = customer_df.alias("c").join(invoice_df.alias("i"), col("c.customerid") == col("i.customerid"), "inner")\
    .select(col("c.customerid"), col("c.firstname"), col("i.invoiceid"), col("i.billingcountry"))\
    .where(upper(col("i.billingcountry")) == "USA")\
    .show()

+----------+---------+---------+--------------+
|customerid|firstname|invoiceid|billingcountry|
+----------+---------+---------+--------------+
|        28|    Julia|       71|           USA|
|        28|    Julia|       82|           USA|
|        28|    Julia|      137|           USA|
|        28|    Julia|      266|           USA|
|        28|    Julia|      289|           USA|
|        28|    Julia|      311|           USA|
|        28|    Julia|      363|           USA|
|        27|  Patrick|       39|           USA|
|        26|  Richard|       70|           USA|
|        26|  Richard|       93|           USA|
|        26|  Richard|      115|           USA|
|        26|  Richard|      167|           USA|
|        27|  Patrick|      168|           USA|
|        27|  Patrick|      191|           USA|
|        27|  Patrick|      213|           USA|
|        27|  Patrick|      265|           USA|
|        26|  Richard|      288|           USA|
|        26|  Richard|      299|           USA|
|        26|  Richard|      354|           USA|
|        27|  Patrick|      386|           USA|
+----------+---------+---------+--------------+
only showing top 20 rows

In [ ]:
# 7. Show the total number of tracks in each genre.

In [ ]:
# 8 .List all tracks from albums released in a specific year (e.g., 2010).

In [ ]:
# 9. Find customers who have not placed any invoices.

In [ ]:
# 10. Retrieve the most popular genres by total number of tracks.

In [5]:
#spark.stop()